# tcd transcoder configuration
# Modules MUST match the [Transcoder] Modules in urfd.ini

Port = 10100
ServerAddress = 172.16.200.10
Modules = S

# Gain values in dB (-24 to +24)
DStarGainIn   =  16
DStarGainOut  = -16
DmrYsfGainIn  =  -3
DmrYsfGainOut =   0
# USRP gain applies to all PCM sources (USRP and SvxReflector)
UsrpTxGain    =  12
UsrpRxGain    =  -6
