[Unit]
Description=URFD Universal Digital Voice Reflector
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/urfd /usr/local/etc/urfd/urfd.ini
Restart=always

[Install]
WantedBy=multi-user.target
